
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="/YMDtw-icon.jpg" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>Hello, YMD</p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="index.html">
                                <i class="fa fa-dashboard"></i> <span>Nend API sample</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages/widgets.html">
                                <i class="fa fa-th"></i> <span>Widgets</span> <small class="badge pull-right bg-green">new</small>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-bar-chart-o"></i>
                                <span>Charts</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
                                <li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
                                <li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span>UI Elements</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/UI/general.html"><i class="fa fa-angle-double-right"></i> General</a></li>
                                <li><a href="pages/UI/icons.html"><i class="fa fa-angle-double-right"></i> Icons</a></li>
                                <li><a href="pages/UI/buttons.html"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
                                <li><a href="pages/UI/sliders.html"><i class="fa fa-angle-double-right"></i> Sliders</a></li>
                                <li><a href="pages/UI/timeline.html"><i class="fa fa-angle-double-right"></i> Timeline</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i> <span>Forms</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/forms/general.html"><i class="fa fa-angle-double-right"></i> General Elements</a></li>
                                <li><a href="pages/forms/advanced.html"><i class="fa fa-angle-double-right"></i> Advanced Elements</a></li>
                                <li><a href="pages/forms/editors.html"><i class="fa fa-angle-double-right"></i> Editors</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i> <span>Tables</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/tables/simple.html"><i class="fa fa-angle-double-right"></i> Simple tables</a></li>
                                <li><a href="pages/tables/data.html"><i class="fa fa-angle-double-right"></i> Data tables</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="pages/calendar.html">
                                <i class="fa fa-calendar"></i> <span>Calendar</span>
                                <small class="badge pull-right bg-red">3</small>
                            </a>
                        </li>
                        <li>
                            <a href="pages/mailbox.html">
                                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                                <small class="badge pull-right bg-yellow">12</small>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-folder"></i> <span>Examples</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/examples/invoice.html"><i class="fa fa-angle-double-right"></i> Invoice</a></li>
                                <li><a href="pages/examples/login.html"><i class="fa fa-angle-double-right"></i> Login</a></li>
                                <li><a href="pages/examples/register.html"><i class="fa fa-angle-double-right"></i> Register</a></li>
                                <li><a href="pages/examples/lockscreen.html"><i class="fa fa-angle-double-right"></i> Lockscreen</a></li>
                                <li><a href="pages/examples/404.html"><i class="fa fa-angle-double-right"></i> 404 Error</a></li>
                                <li><a href="pages/examples/500.html"><i class="fa fa-angle-double-right"></i> 500 Error</a></li>
                                <li><a href="pages/examples/blank.html"><i class="fa fa-angle-double-right"></i> Blank Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                        <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

<div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h3>
                                        <%= number_with_delimiter @today["report"]["total"]["imp"] %><sup style="font-size: 20px"> Imps</sup>
                                    </h3>
                                    <p>
				(<%= "+" if @today["report"]["total"]["imp"] > @yesterday["report"]["total"]["imp"] %><%= number_with_delimiter (@today["report"]["total"]["imp"] - @yesterday["report"]["total"]["imp"])  %>)
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h3>
                                        <%= number_with_delimiter @today["report"]["total"]["click"] %><sup style="font-size: 20px"> Clicks</sup>
                                    </h3>
                                    <p>
                                        (<%= "+" if @today["report"]["total"]["click"] > @yesterday["report"]["total"]["click"] %><%= number_with_delimiter (@today["report"]["total"]["click"] - @yesterday["report"]["total"]["click"])  %>)
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h3>
                                        <%= number_with_delimiter @today["report"]["total"]["cnv"] %><sup style="font-size: 20px"> Conversions</sup>
                                    </h3>
                                    <p>
                                        (<%= "+" if @today["report"]["total"]["cnv"] > @yesterday["report"]["total"]["cnv"] %><%= number_with_delimiter (@today["report"]["total"]["cnv"] - @yesterday["report"]["total"]["cnv"])  %>)
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h3>
                                        &yen;<%= number_with_delimiter @today["report"]["total"]["cost"] %><sup style="font-size: 20px"> Total Costs</sup>
                                    </h3>
                                    <p>
                                        (<%= "+" if @today["report"]["total"]["cost"] > @yesterday["report"]["total"]["cost"] %><%= number_with_delimiter (@today["report"]["total"]["cost"] - @yesterday["report"]["total"]["cost"])  %>)
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->

                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        &yen;<%= number_with_delimiter @today["report"]["total"]["cpc"] %><sup style="font-size: 20px"> CPC avg.</sup>
                                    </h3>
                                    <p>
                                        (<%= "+" if @today["report"]["total"]["cpc"] > @yesterday["report"]["total"]["cpc"] %><%= number_with_delimiter (@today["report"]["total"]["cpc"] - @yesterday["report"]["total"]["cpc"])  %>)
                                    </p>
                                </div>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        <%= number_with_delimiter @today["report"]["total"]["ctr"] %><sup style="font-size: 20px">% CTR</sup>
                                    </h3>
                                    <p>
                                        (<%= "+" if @today["report"]["total"]["ctr"] > @yesterday["report"]["total"]["ctr"] %><%= number_with_delimiter (@today["report"]["total"]["ctr"] - @yesterday["report"]["total"]["ctr"])  %>)
                                    </p>
                                </div>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        <%= number_with_delimiter @today["report"]["total"]["cvr"] %><sup style="font-size: 20px">% CVR</sup>
                                    </h3>
                                    <p>
                                        (<%= "+" if @today["report"]["total"]["cvr"] > @yesterday["report"]["total"]["cvr"] %><%= number_with_delimiter (@today["report"]["total"]["cvr"] - @yesterday["report"]["total"]["cvr"])  %>)
                                    </p>
                                </div>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        &yen;<%= number_with_delimiter @today["report"]["total"]["cpa"] %><sup style="font-size: 20px"> CPA</sup>
                                    </h3>
                                    <p>
                                        (<%= "+" if @today["report"]["total"]["cpa"] > @yesterday["report"]["total"]["cpa"] %><%= number_with_delimiter (@today["report"]["total"]["cpa"] - @yesterday["report"]["total"]["cpa"])  %>)
                                    </p>
                                </div>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->

                    <div class="row">
                        <div class="col-md-4">
                            <!-- Primary box -->
                            <div class="box box-primary">
                                <div class="box-header" data-toggle="tooltip" title="Header tooltip">
                                    <h3 class="box-title">Total Impression</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                  <div id="install_donut_chart" style="min-width: 200px; height: 300px">
                            <script type="text/javascript">
        (function() {
          var onload = window.onload;
          window.onload = function(){
            if (typeof onload == "function") onload();
                    var options = { "title": { "text": "<%= number_with_delimiter @today["report"]["total"]["imp"] %>","verticalAlign": "center","y": 135,"style": { "color": "#000","fontSize": "30px","fontStyle": "italic","fontWeight": "300" } },"legend": { "verticalAlign": "bottom","y": 10,"floating": false },"xAxis": {  },"yAxis": { "title": { "text": null },"labels": {  } },"tooltip": { "pointFormat": "{point.percentage:.1f}%" },"credits": { "enabled": false },"plotOptions": { "areaspline": {  } },"chart": { "marginTop": 10,"renderTo": "install_donut_chart" },"subtitle": {  },"lang": { "noData": "データがありません。" },"noData": { "position": { "y": 20 },"style": { "fontWeight": "300","color": "#000" } },"series": [{ "type": "pie","name": "I18n.t(\"views.dashboard.#{metrics_name}.title.short\")","innerSize": "80%","data": [ { "name": "Today","y": <%= @today["report"]["total"]["imp"] %> },{ "name": "Yesterday","y": <%= @yesterday["report"]["total"]["imp"] %> }, ] }] };
        
        window.chart_install_donut_chart = new Highcharts.Chart(options);

          };
        })()
        </script>
</div>
                                </div><!-- /.box-body -->
                                <div class="box-footer">
                                    <code>.box-footer</code>
                                </div><!-- /.box-footer-->
                            </div><!-- /.box -->
                        </div><!-- /.col -->

                       <div class="col-md-4">
                            <!-- Primary box -->
                            <div class="box box-primary">
                                <div class="box-header" data-toggle="tooltip" title="Header tooltip">
                                    <h3 class="box-title">Total Clicks</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                  <div id="click_donut_chart" style="min-width: 200px; height: 300px">
                            <script type="text/javascript">
        (function() {
          var onload = window.onload;
          window.onload = function(){
            if (typeof onload == "function") onload();
                    var options = { "title": { "text": "<%= number_with_delimiter @today["report"]["total"]["click"] %>","verticalAlign": "center","y": 135,"style": { "color": "#000","fontSize": "30px","fontStyle": "italic","fontWeight": "300" } },"legend": { "verticalAlign": "bottom","y": 10,"floating": false },"xAxis": {  },"yAxis": { "title": { "text": null },"labels": {  } },"tooltip": { "pointFormat": "{point.percentage:.1f}%" },"credits": { "enabled": false },"plotOptions": { "areaspline": {  } },"chart": { "marginTop": 10,"renderTo": "click_donut_chart" },"subtitle": {  },"lang": { "noData": "データがありません。" },"noData": { "position": { "y": 20 },"style": { "fontWeight": "300","color": "#000" } },"series": [{ "type": "pie","name": "I18n.t(\"views.dashboard.#{metrics_name}.title.short\")","innerSize": "80%","data": [ { "name": "Today","y": <%= @today["report"]["total"]["click"] %> },{ "name": "Yesterday","y": <%= @yesterday["report"]["total"]["click"] %> }, ] }] };

        window.chart_click_donut_chart = new Highcharts.Chart(options);

          };
        })()
        </script>
</div>
                                </div><!-- /.box-body -->
                                <div class="box-footer">
                                    <code>.box-footer</code>
                                </div><!-- /.box-footer-->
                            </div><!-- /.box -->
                        </div><!-- /.col -->

                       <div class="col-md-4">
                            <!-- Primary box -->
                            <div class="box box-primary">
                                <div class="box-header" data-toggle="tooltip" title="Header tooltip">
                                    <h3 class="box-title">Total Conversion</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                  <div id="cv_donut_chart" style="min-width: 200px; height: 300px">
                            <script type="text/javascript">
        (function() {
          var onload = window.onload;
          window.onload = function(){
            if (typeof onload == "function") onload();
                    var options = { "title": { "text": "<%= number_with_delimiter @today["report"]["total"]["cnv"] %>","verticalAlign": "center","y": 135,"style": { "color": "#000","fontSize": "30px","fontStyle": "italic","fontWeight": "300" } },"legend": { "verticalAlign": "bottom","y": 10,"floating": false },"xAxis": {  },"yAxis": { "title": { "text": null },"labels": {  } },"tooltip": { "pointFormat": "{point.percentage:.1f}%" },"credits": { "enabled": false },"plotOptions": { "areaspline": {  } },"chart": { "marginTop": 10,"renderTo": "cv_donut_chart" },"subtitle": {  },"lang": { "noData": "データがありません。" },"noData": { "position": { "y": 20 },"style": { "fontWeight": "300","color": "#000" } },"series": [{ "type": "pie","name": "I18n.t(\"views.dashboard.#{metrics_name}.title.short\")","innerSize": "80%","data": [ { "name": "Today","y": <%= @today["report"]["total"]["cnv"] %> },{ "name": "Yesterday","y": <%= @yesterday["report"]["total"]["cnv"] %> }, ] }] };

        window.chart_cv_donut_chart = new Highcharts.Chart(options);

          };
        })()
        </script>
</div>
                                </div><!-- /.box-body -->
                                <div class="box-footer">
                                    <code>.box-footer</code>
                                </div><!-- /.box-footer-->
                            </div><!-- /.box -->
                        </div><!-- /.col -->

                       <div class="col-md-4">
                            <!-- Primary box -->
                            <div class="box box-primary">
                                <div class="box-header" data-toggle="tooltip" title="Header tooltip">
                                    <h3 class="box-title">CTR</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                  <div id="ctr_donut_chart" style="min-width: 200px; height: 300px">
                            <script type="text/javascript">
        (function() {
          var onload = window.onload;
          window.onload = function(){
            if (typeof onload == "function") onload();
                    var options = { "title": { "text": "<%= number_with_delimiter @today["report"]["total"]["ctr"] %>%","verticalAlign": "center","y": 135,"style": { "color": "#000","fontSize": "30px","fontStyle": "italic","fontWeight": "300" } },"legend": { "verticalAlign": "bottom","y": 10,"floating": false },"xAxis": {  },"yAxis": { "title": { "text": null },"labels": {  } },"tooltip": { "pointFormat": "{point.percentage:.1f}%" },"credits": { "enabled": false },"plotOptions": { "areaspline": {  } },"chart": { "marginTop": 10,"renderTo": "ctr_donut_chart" },"subtitle": {  },"lang": { "noData": "データがありません。" },"noData": { "position": { "y": 20 },"style": { "fontWeight": "300","color": "#000" } },"series": [{ "type": "pie","name": "I18n.t(\"views.dashboard.#{metrics_name}.title.short\")","innerSize": "80%","data": [ { "name": "Today","y": <%= @today["report"]["total"]["ctr"] %> },{ "name": "Yesterday","y": <%= @yesterday["report"]["total"]["ctr"] %> }, ] }] };

        window.chart_ctr_donut_chart = new Highcharts.Chart(options);

          };
        })()
        </script>
</div>
                                </div><!-- /.box-body -->
                                <div class="box-footer">
                                    <code>.box-footer</code>
                                </div><!-- /.box-footer-->
                            </div><!-- /.box -->
                        </div><!-- /.col -->

                       <div class="col-md-4">
                            <!-- Primary box -->
                            <div class="box box-primary">
                                <div class="box-header" data-toggle="tooltip" title="Header tooltip">
                                    <h3 class="box-title">CVR</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                  <div id="cvr_donut_chart" style="min-width: 200px; height: 300px">
                            <script type="text/javascript">
        (function() {
          var onload = window.onload;
          window.onload = function(){
            if (typeof onload == "function") onload();
                    var options = { "title": { "text": "<%= number_with_delimiter @today["report"]["total"]["cvr"] %>%","verticalAlign": "center","y": 135,"style": { "color": "#000","fontSize": "30px","fontStyle": "italic","fontWeight": "300" } },"legend": { "verticalAlign": "bottom","y": 10,"floating": false },"xAxis": {  },"yAxis": { "title": { "text": null },"labels": {  } },"tooltip": { "pointFormat": "{point.percentage:.1f}%" },"credits": { "enabled": false },"plotOptions": { "areaspline": {  } },"chart": { "marginTop": 10,"renderTo": "cvr_donut_chart" },"subtitle": {  },"lang": { "noData": "データがありません。" },"noData": { "position": { "y": 20 },"style": { "fontWeight": "300","color": "#000" } },"series": [{ "type": "pie","name": "I18n.t(\"views.dashboard.#{metrics_name}.title.short\")","innerSize": "80%","data": [ { "name": "Today","y": <%= @today["report"]["total"]["cvr"] %> },{ "name": "Yesterday","y": <%= @yesterday["report"]["total"]["cvr"] %> }, ] }] };

        window.chart_cvr_donut_chart = new Highcharts.Chart(options);

          };
        })()
        </script>
</div>
                                </div><!-- /.box-body -->
                                <div class="box-footer">
                                    <code>.box-footer</code>
                                </div><!-- /.box-footer-->
                            </div><!-- /.box -->
                        </div><!-- /.col -->

                       <div class="col-md-4">
                            <!-- Primary box -->
                            <div class="box box-primary">
                                <div class="box-header" data-toggle="tooltip" title="Header tooltip">
                                    <h3 class="box-title">Cost</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-primary btn-xs" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                  <div id="cost_donut_chart" style="min-width: 200px; height: 300px">
                            <script type="text/javascript">
        (function() {
          var onload = window.onload;
          window.onload = function(){
            if (typeof onload == "function") onload();
                    var options = { "title": { "text": "<%= number_with_delimiter @today["report"]["total"]["cost"] %>","verticalAlign": "center","y": 135,"style": { "color": "#000","fontSize": "30px","fontStyle": "italic","fontWeight": "300" } },"legend": { "verticalAlign": "bottom","y": 10,"floating": false },"xAxis": {  },"yAxis": { "title": { "text": null },"labels": {  } },"tooltip": { "pointFormat": "{point.percentage:.1f}%" },"credits": { "enabled": false },"plotOptions": { "areaspline": {  } },"chart": { "marginTop": 10,"renderTo": "cost_donut_chart" },"subtitle": {  },"lang": { "noData": "データがありません。" },"noData": { "position": { "y": 20 },"style": { "fontWeight": "300","color": "#000" } },"series": [{ "type": "pie","name": "I18n.t(\"views.dashboard.#{metrics_name}.title.short\")","innerSize": "80%","data": [ { "name": "Today","y": <%= @today["report"]["total"]["cost"] %> },{ "name": "Yesterday","y": <%= @yesterday["report"]["total"]["cost"] %> }, ] }] };

        window.chart_cost_donut_chart = new Highcharts.Chart(options);

          };
        })()
        </script>
</div>
                                </div><!-- /.box-body -->
                                <div class="box-footer">
                                    <code>.box-footer</code>
                                </div><!-- /.box-footer-->
                            </div><!-- /.box -->
                        </div><!-- /.col -->

                    </div><!-- /.row -->



                            <div class="box box-success">
                                <div class="box-header">
                                    <h3 class="box-title">Bar Chart</h3>
                                </div>
                                <div class="box-body chart-responsive">
                                    <div class="chart" id="bar-chart" style="height: 300px;"></div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->




        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- jQuery UI 1.10.3 -->
        <script src="http://almsaeedstudio.com/AdminLTE/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="http://almsaeedstudio.com/AdminLTE/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://almsaeedstudio.com/AdminLTE/js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="http://almsaeedstudio.com/AdminLTE/js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="http://almsaeedstudio.com/AdminLTE/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="http://almsaeedstudio.com/AdminLTE/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="http://almsaeedstudio.com/AdminLTE/js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="http://almsaeedstudio.com/AdminLTE/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <!-- datepicker -->
        <script src="http://almsaeedstudio.com/AdminLTE/js/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="http://almsaeedstudio.com/AdminLTE/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="http://almsaeedstudio.com/AdminLTE/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
        <script src="http://minetheme.com/Endless1.5.1/js/jquery.flot.min.js"></script>

<script src="/dashboard.js" type="text/javascript"></script>
<script src="/demo.js" type="text/javascript"></script>

        <!-- Sparkline -->
        <script src="http://almsaeedstudio.com/AdminLTE/js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>


        <script type="text/javascript">
                //BAR CHART
                var bar = new Morris.Bar({
                    element: 'bar-chart',
                    resize: true,
                    data: [
                        {y: 'imp', a: <%= @today["report"]["total"]["imp"] %>, b: <%= @yesterday["report"]["total"]["imp"] %>},
                        {y: 'click', a: <%= @today["report"]["total"]["click"] %>, b: <%= @yesterday["report"]["total"]["click"] %>},
                        {y: 'CTR', a: <%= @today["report"]["total"]["ctr"] %>, b: <%= @yesterday["report"]["total"]["ctr"] %>},
                        {y: 'CV', a: <%= @today["report"]["total"]["cnv"] %>, b: <%= @yesterday["report"]["total"]["cnv"] %>},
                        {y: 'CVR', a: <%= @today["report"]["total"]["cvr"] %>, b: <%= @yesterday["report"]["total"]["cvr"] %>},
                        {y: 'CPA', a: <%= @today["report"]["total"]["cpa"] %>, b: <%= @yesterday["report"]["total"]["cpa"] %>},
                        {y: 'cost', a: <%= @today["report"]["total"]["cost"] %>, b: <%= @yesterday["report"]["total"]["cost"] %>}
                    ],
                    barColors: ['#00a65a', '#f56954'],
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['TODAY', 'YESTERDAY'],
                    hideHover: 'auto'
                });

        </script>
